body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
}

.jumbotron {
  background-color: #bf8d3c !important;
  text-align: center;
}

#toppings, #output {
  display: none;
}

#reload {
  text-align: right;
}